.react-datepicker-wrapper {
  width: 80%;
  border-radius: 10px;
}

.react-datepicker__input-container input[type="text"] {
  width: 100%;
  /* ให้ input ขยายเต็มความกว้างของ wrapper */
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}


/* เพิ่มในไฟล์ SmallCalendar.css */
.available-date {
  color: black !important;
  font-weight: 500;
}

.unavailable-date {
  color: #ccc !important;
  cursor: not-allowed !important;
  text-decoration: line-through;
}

/* สไตล์สำหรับวันที่มีกิจกรรม */
.react-datepicker__day--highlighted {
  background-color: #e6f3ff !important;
  border-radius: 0.3rem;
}

.react-datepicker__day--highlighted:hover {
  background-color: #cce5ff !important;
}

.buttonSelectBook {
  @apply focus:outline-none text-white bg-green-600 hover:bg-green-800 font-medium rounded-lg text-sm text-center px-5 py-2.5 w-[70px];
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSelectDate {
  focus:outline-none;
  color: black;
  background-color: white;
  hover:bg-gray-100;
  font-weight: 500;
  border-radius: 0.375rem; /* rounded-lg */
  font-size: 0.875rem; /* text-sm */
  text-align: center;
  padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
  width: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonShowDate-Mobile {
  @apply focus:outline-none text-white bg-green-600 hover:bg-green-800 font-medium rounded-lg text-sm md:text-lg text-center px-5 py-2;
}

.wSize {
  @apply max-w-[130px] lg:max-w-[160px]
}