@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.h1 {
    /*font-family: 'Bona Nova sc', cursive;*/
    font-family: 'Playfair Display', cursive;
    font-size: 2vw;
    font-weight: 100;
    color: #f5f5f5;
    text-align: center;
    margin-top: 2rem;
    letter-spacing:.1vw;
}

.p {
    font-family: 'Playfair Display', cursive;
    font-weight: 400;
    font-size: 1.5vw;
    color: #f5f5f5;
    text-align: center;
    margin-top: 2rem;
    margin: 2rem auto;

}

.hr {
    border: 0;
    height: 1px;
    background: #f5f5f5;
    margin: 1rem auto;
    width: 50%;
}

/* Media Queries */
@media (max-width: 768px) {
    .h1 { font-size: 6vw; width: 90%; }
    .p { font-size: 3vw; width: 90%; }
    .hr { width: 90%; }
}

@media (max-width: 480px) {
    .h1 { font-size: 8vw; width: 100%; }
    .p { font-size: 4vw; width: 100%; }
    .hr { width: 100%; }
}

/* 🔥 Animation สำหรับ overlay pop-up */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.overlayFadeIn {
  animation: fadeIn 0.3s ease forwards;
}
